@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '../css/style.css';
:root {
    --bs-body-bg-image: url(../images/pattern.png);
    --bs-body-font-family: "Chakra Petch", sans-serif;

    --bs-theme: #249d79 ;
    --bs-inverse-rgb: 0, 0, 0;
    --bs-body-letter-spacing: 0.046875rem;
    --bs-body-color: rgba(0, 0, 0, 0.75);
    --bg-primary: #ecebef;
    --bg-header: #ffffff;
    --text-primary: #000000;
    --text-link-opcity: rgb(0 0 0 / 50%);
    .progress{

        --bs-progress-bar-bg: #31a280;
    }
}

[data-bs-theme=dark] {
    --bs-body-bg-image: url(../images/pattern-dark.png);
    --bs-theme: #3cd2a5 ;
    --bs-inverse-rgb: 255, 255, 255;
    --bg-primary: #1d2835;
    --bg-header: rgba(29, 40, 53, 0.95);
    --text-primary: #ffffff;
    --text-link-opcity: rgb(255 255 255 / 50%);
    .progress{
        --bs-progress-bar-bg: #3aca9f;
    }
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

body {
    background: 0 0;
    font-family: var(--bs-body-font-family);
    font-weight: var(--bs-body-font-weight);
    letter-spacing: var(--bs-body-letter-spacing);
    background-color: var(--bg-primary);
    position: relative;
    min-height: 100vh;
    z-index: 9999;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-attachment: initial;
        background-color: transparent;
        background-image: var(--bs-body-bg-image);
        background-size: 4.6875rem;
        background-repeat: repeat;
        background-attachment: initial;
        z-index: -5;
    }
}
.btn {
    padding: .5rem 1rem;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: transparent;
    border-color: transparent;
}

button {
    border: none;
}

.card{
    --bs-border-color-rgb: var(--bs-body-color-rgb);
    position: relative;
    background: transparent;
    border: none;
    &::before , &::after {
     content: '';
     position: absolute;
     z-index: -1;
    }
    &::before{
        left: 15px;
        right: 15px;
        top: 0;
        bottom: 0;
        border-top: 1px solid rgba(var(--bs-border-color-rgb), .3);
        border-bottom: 1px solid rgba(var(--bs-border-color-rgb), .3);
    }
    &::after{
        top: 15px;
        bottom: 15px;
        left: 0;
        right: 0;
        border-left: 1px solid rgba(var(--bs-border-color-rgb), .3);
        border-right: 1px solid rgba(var(--bs-border-color-rgb), .3);
    }
}

.chart-container {
    height: 100%; 
  }
  

.apexcharts-canvas .apexcharts-legend-series {
    display: flex;
    align-items: center;
  }
  .apexcharts-canvas .apexcharts-legend-marker {
    margin-right: 0.5rem; 
  }

#app {
    padding-top: 3.25rem;
}

// Header
.app-header {
    height: 3.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    background: var(--bg-header);
    display: flex;
    transition: transform 0.3s ease;

    .menu-toggler {
        background: 0 0;
        height: 100%;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0.35rem;

        .bar {
            width: 1.625rem;
            display: block;
            height: 1px;
            background: var(--text-primary);
            transition: all .2s linear;
        }
    }

    .brand {
        display: flex;
        padding: 0 1rem;
        height: 100%;

        &-inner {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        &-logo {
            width: auto;
            height: 2.15rem;
        }

        &-text {
            color: var(--text-primary);
        }
    }

    .option {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;

        &-icon {
            font-size: 1.25rem;
        }

        &-search {
            display: flex;
            align-items: center;
            position: absolute;
            top: -50px;
            opacity: 0;
            right: 0;
            left: 0;
            transition: all 0.4s ease;
            background-color: var(--bg-header);
            z-index: 9;

            &.active {
                top: 0;
                opacity: 1;
            }

            &-container {
                max-width: 60.4375rem;
                margin: 0 auto;
                height: 3.25rem;
                display: flex;
                flex: 1;
            }

            &-icon {
                height: 100%;
                padding: 0 1rem;
                font-size: 1rem;
                display: flex;
                align-items: center;
            }

            &-input {
                flex: 1;

                .form-control {
                    margin: 0;
                    border: none;
                    height: 100%;
                    width: 100%;
                    padding: 1rem 0;
                    padding: .5rem 1rem;
                    padding-left: 0;
                    font-size: 1rem;
                    background: transparent;

                    &:focus {
                        background-color: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }
                }
            }
        }

        &-dropdown {
            &-toggle {
                display: flex;
                align-items: center;
            }

            &-img {
                .profile-pic {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 0.75rem;
                }
            }

            &-text {
                font-size: 0.875rem;
            }

            @keyframes appDropdownShow {
                from {
                    opacity: 0
                }

                to {
                    opacity: 1
                }
            }


            .dropdown-menu {
                right: 0;
                left: auto;
                min-width: 150px;
                border-radius: 0;
            }
            .dropdown-item {
                font-size: 12px;
                i{
                    font-size: 16px;
                    color: var(--bs-theme);
                }
                &.active, &:active{
                    background-color: var(--bs-theme);
                }
            }
            &.show .dropdown-menu {
                display: block;
                animation: appDropdownShow .25s both cubic-bezier(.7, 0, .3, 1)
            }
        }
    }
}

// Sidebar
.app-sidebar {
    width: 16.875rem;
    bottom: 0;
    position: fixed;
    top: 3.25rem;
    z-index: 1010;
    left: 0;

    transition: transform 0.3s ease;

    &.hide {
        transform: translateX(-290px);
    }

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .menu {
        &-header {
            padding: 1rem 1rem .5rem;
            font-size: 0.75rem;
            font-weight: 600;
        }

        &-item {
            &.active {
                .menu-link {
                    color: var(--text-primary);
                }
            }

            &:hover {
                .menu-link {
                    color: var(--text-primary);
                }
            }
        }

        &-link {
            text-decoration: none;
            position: relative;
            padding: .3rem 1rem;
            color: var(--text-link-opcity);
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            transition: all .2s ease-in-out;
        }

        &-icon {
            width: 1.875rem;
            height: 1.875rem;
            font-size: 1.05rem;
            margin: -.25rem 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: .75rem;
        }
    }
}

// Content
.app-content {
    padding: 2rem 2rem;
    flex: 1;
    margin-left: 0;
    transition: margin-left 0.3s ease, width 0.3s ease;

    /* ขนาดของ Content เมื่อ Sidebar ถูกแสดง */
    &.collapsed-content {
        margin-left: 16.875rem;
    }

    /* ขนาดของ Content เมื่อ Sidebar ถูกซ่อน */
    &.expanded-content {
        margin-left: 0;
        width: 100%;
    }
}